whisper==20231117
sentence-transformers==3.1.1
Pillow==10.4.0
torch==2.4.1+cu121
annoy==1.17.3
moviepy==1.0.3
pytubefix==6.17.0
speechrecognition==3.10.4
nltk==3.8.1
faiss-cpu==1.8.0.post1
tqdm==4.66.5
transformers==4.44.2
numpy==1.26.4
natsort==8.4.0
matplotlib==3.8.0
groq==3.7.1  
openai-whisper==20231117
tiktoken==0.7.0
triton==2.3.1
pydub==0.25.1
